* {
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100%;
    background-color: black
}

body {margin: 0;}
span,h1,h2,p {color:white;}

.header_span{
color: #979797;
font-family: Inter;
font-size: 12px;
font-weight: 400;
line-height: 14.52px;
text-align: left;

}
.header_date{
    display: grid;
    justify-items: end;
}
.image_contacts_block_wrap{
    display: grid;
    justify-items: end;
}

.image_contacts_block{
    display: flex;
    width: 105px;
}
.ul_comments_disc {
	list-style-type: disc;
    margin-bottom: 50px;
}
.margin_top_reply{
    margin-top: 20px;
}
.margin_bottom_post_url{
    margin-bottom: 20px;
}
.margin_bottom_author_reply{
    margin-bottom: 30px;
}
ul {
list-style-type: decimal;
color:#ffffff;
font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 22.74px;
text-align: left;
margin-left: 40px;
margin-top: 20px;
margin-bottom: 20px;
}
.italic-margin{
    margin-left: 25px;
}
ul li {
    margin-bottom: 10px;
}
.image_contacts_block_padding{
    padding-left: 10px;
}
.xrealgirl{
    width: 109px;
    height: 21px;
    top: 63px;
    left: 43px;
    gap: 0px;
    opacity: 0px;

}

.h1{
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: left; 
    margin-bottom: 25px;
    margin-top: 20px;   
}

.color_blue{
    color: #0ECFE2;
}

.p{
font-family: Roboto, sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 22.74px;
text-align: left;
}

.font_p_blue{
    color: #0ECFE2;
}

button{
    font-family: Roboto, sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 22.74px;
text-align: center;

    outline: 1px solid #0ECFE2;
    background-color:#000;
    color:#ffffff;
    width: 238px;
    height: 35px;
    top: 295px;
    left: 214px;
    gap: 0px;
    border-radius: 56px 56px 56px 56px;
    border: 1px 0px 0px 0px;
    opacity: 0px;   
}

hr {
    border: 1px solid #646464;
  
}

  .italic{
color: #a9a9a9;
font-family: Roboto, sans-serif;
font-size: 14px;
font-style: italic;
font-weight: 400;
line-height: 22.74px;
text-align: left;

  }

  .color_grey{
    color: #646464;

  }

  .footer_text{
color: #A9A9A9;
font-family: Roboto, sans-serif;
font-size: 12px;
font-weight: 400;
line-height: 19.49px;
text-align: left;

flex: 0 0 auto;
  }

a{
    font-family: Roboto, sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 22.74px;
text-align: left;
}

.header{
    display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  
}


.footer{
    display: grid;
    justify-items: center;
    flex: 0 0 auto;
}
.contacts{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}
.button{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.wrap{
    margin: 10px;
}

.content {
	flex: 1 0 auto;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

p{
    margin-bottom: 10px;
}